body {
  font-style: 'Dosis';
  font-size: 25px;
  /*background-color: #2c2c34;*/
}

.letter {
  font-style: 'Dosis';
  font-size: 50px;
  color: rgba(0, 0, 0, 0);
  /*width: 50%;*/

  width: 28%;
  padding-bottom: 5%;
  padding-top:  5%;
  margin-top: 5%;
  /*height: 0;*/
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 3px solid grey;
}

#user-guess {
  width: 100%;
}

.mrow {
  /*width: 75%;*/
  display:  flex;
  justify-content:  space-between;
  border:  1px solid black;
}